/* .navBar{
	color : blue;
    background-color: #df6e18;
}

.main{
	 
    background-color: #df6e18;
} */
 
.panelHeader2{
 background-color :'#BDC3C7';
            
}
.class1 {
    background-color: #e6e618;
}
.class2 {
    background-color: #df6e18;
}
.class3 {
    background-color: #9eae0f;
}