* {
    box-sizing: border-box;
  }
  
  /* Create two unequal columns that floats next to each other */
  .column {
    
    padding: 10px;
    height: auto; /* Should be removed. Only for demonstration */
  }
  
  .left {
    width: 40%;
  }
  
  .right {
    width: 60%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }