.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}
.header-column {
    padding: 0 2rem;
}
.field-title {
    font-size: .75rem;
    line-height: 1.25;
    color: #54698d;
    margin-bottom: .25rem;
}
.slds-form-element {
    position: relative;
    min-width: 0;
    flex-direction: row;
    background: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));
    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
    border-radius: var(--lwc-borderRadiusMedium,0.25rem);
}